{% extends "base.html" %}
{% load i18n %}
{% load webdesign %}

{% block content %}


{% if request.user.is_authenticated %}

{% if request.user.last_name %}

<div class="hero-unit">
    <h1>{% trans "Emergency help" %}</h1>
    <p>{% trans "When clicking this, you will contact the emergency center." %}</p>
    <a class="btn btn-danger btn-large">{% trans "Emergency" %}</a>
    <div class="hide">
        {% trans "You are near" %}
        <span id="position"></span>
    </div>
</div>

{% else %}

{% comment %}
Logged in, no last name
{% endcomment %}

<div class="hero-unit">
    <h1>{% trans "Now we need some information" %}</h1>
    <p>{% trans "To be helpful, you need to tell us about yourself. Later, you can always review or update your information by clicking the large profile picture below." %}</p>
    <a class="btn btn-large btn-success" href="{% url update-basic %}">{% trans "Register information" %}</a>
</div>

{% endif %}

<div class="page-header">
    <h1>{% trans "Update information" %}
        <small>{% trans "Please keep all information updated, it helps us, when we help you." %}</small>
    </h1>
</div>

<p>{% trans "Keep in mind that these are the people you are most likely calling emergency about" %}</p>

<h2>{% trans "You" %}</h2>
{% with request.user.profile as profile %}
<p>{% trans "Information about yourself" %} (ektefelle, samboer, osv vil dukke opp ved siden av)</p>
<ul class="thumbnails">
    <li class="span3">
    <a class="thumbnail" href="{% url profile-basic %}">
        {% if profile.image %}
        <img src="{{ profile.image.url }}">
        {% else %}
        <img src="{{ STATIC_URL }}img/person.jpg">
        {% endif %}
        <h5>{{ request.user.name }}</h5>
        <p>
        {% if profile.gender %}
        {{ profile.get_gender_display }},
        {% endif %}
        {% if profile.birth_date %}
        {{ profile.age }}
        {% trans "years old" %}
        {% endif %}
        </p>
    </a>
    </li>
    {% for contact in profile.get_significant_others %}
    <li class="span2">
    <a class="thumbnail" href="{% url relation-basic contact.pk %}">
        {% if contact.image %}

        {% else %}
        <img src="{{ STATIC_URL }}img/person.jpg">
        {% endif %}
        <h5>{{ contact.user.name }}</h5>
        {% if contact.gender %}
        {{ contact.get_gender_display }},
        {% endif %}
        {% if contact.birth_date %}
        {{ contact.age }}
        {% trans "years old" %}
        {% endif %}
        <br>
        {% trans "Significant other" %}
    </a>
    </li>
    {% endfor %}
</ul>

<h2>{% trans "Children" %}</h2>
<p>{% trans "Children and other you are responsible for" %}</p>
<ul class="thumbnails">
    {% for contact in profile.get_children %}
    <li class="span2">
    <a class="thumbnail" href="{% url relation-basic contact.pk %}">
        {% if contact.image %}

        {% else %}
        <img src="{{ STATIC_URL }}img/person.jpg">
        {% endif %}
        <h5>{{ contact.user.name }}</h5>
        {% if contact.gender %}
        {{ contact.get_gender_display }},
        {% endif %}
        {% if contact.birth_date %}
        {{ contact.age }}
        {% trans "years old" %}
        {% endif %}
        <br>
        {% trans "Child" %}
    </a>
    </li>
    {% endfor %}
</ul>

<h2>{% trans "Parents" %}</h2>
<p>{% trans "Parents and grandparents" %}</p>

<ul class="thumbnails">
    {% for contact in profile.get_parents %}
    <li class="span2">
    <a class="thumbnail" href="{% url relation-basic contact.pk %}">
        {% if contact.image %}

        {% else %}
        <img src="{{ STATIC_URL }}img/person.jpg">
        {% endif %}
        <h5>{{ contact.user.name }}</h5>
        {% if contact.gender %}
        {{ contact.get_gender_display }},
        {% endif %}
        {% if contact.birth_date %}
        {{ contact.age }}
        {% trans "years old" %}
        {% endif %}
        <br>
        {% trans "Parent" %}
    </a>
    </li>
    {% endfor %}
</ul>

<h2>{% trans "Neighbours, etc" %}</h2>
<p>Blablabla</p>

<h2>{% trans "Colleagues, etc" %}</h2>
<p>Blablabla</p>

{% endwith %}

<h1>{% trans "Add contacts" %}</h1>
<p>Blablabla</p>
<a class="btn btn-primary btn-large" href="{% url profile-relation-create %}">{% trans "Add" %}</a>


{% else %}
{% comment %}
Not logged in
{% endcomment %}

<div class="hero-unit">
    <h1>{% trans "Circumventing bureaucracy when it matters the most" %}</h1>
    <p>{% trans "A very short introduction" %}</p>
    <a class="btn btn-success btn-large" href="">{% trans "Take the tour" %}</a>
    <div class="pull-right">
        <a class="btn" href="{% url socialauth_begin 'google' %}">{% trans "Log in using Google" %}</a>
    </div>

</div>



{% endif %}

<div class="page-header">
    <h1>{% trans "About" %}
        <small>{% trans "What is all this about" %}</small>
    </h1>
</div>

{% lorem 3 p random %}

{% endblock %}

{% block inlinejs %}
{% if request.user.is_authenticated %}

function initialize() {
    navigator.geolocation.getCurrentPosition(geocode);
}
function geocode(position) {
    var latitude = position.coords.latitude;
    var longitude = position.coords.longitude;

    var latlng = new google.maps.LatLng(latitude, longitude);
    var geocoder = new google.maps.Geocoder();
    geocoder.geocode({'latLng': latlng }, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
            if (results[0]) {
                $('#position').parent().removeClass("hide");
                $('#position').text(results[0].formatted_address);
            }
        }
    });
}
{% endif %}
{% endblock %}
