{% extends "base.html" %}
{% load i18n %}
{% load webdesign %}

{% block content %}


{% if request.user.is_superuser %}

<div class="row">
    <div class="span9">
        <h1>{% trans "Smart113 central" %}</h1>
        <form class="well form-search" action="/c/search/" method="get">
            <input id="phone-number" name="number" type="text" class="input-medium search-query">
            <button type="submit" class="btn">Search</button>
        </form>

        <h2>{% trans "Recently opened profiles" %}</h2>

        {% for object in object_list %}
        <div class="well">
            <h2><a href="{% url central-smarturl-redirect object.profile.id %}">{{ object.profile.user.name }}</a></h2>
            <p>{{ object.used }}</p>
            <dl>
                <dt>{% trans "Opened by" %}</dt>
                {% for smarturl in object.profile.smarturl_set.all %}
                <dd>{{ smarturl.user }} {{ smarturl.used }}</dd>
                {% endfor %}
            </dl>
        </div>
        {% endfor %}

    </div>

    <div class="span3">
        <h1><small>{% trans "Recent calls" %}</small></h1>
        <div id="calls">
            {% for object in calls %}
            <div class="well">
                <h2><small><a href="{% url central-phone-list object.query %}">{{ object.query }}</a></small></h2>
                <p>{{ object.datetime }}</p>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% else %}

<div class="hero-unit">
    <h1>{% trans "Circumventing bureaucracy when it matters the most" %}</h1>
    <p>{% trans "A very short introduction" %}</p>
    <a class="btn btn-success btn-large" href="">{% trans "Take the tour" %}</a>
    <div class="pull-right">
        <a class="btn" href="{% url socialauth_begin 'google' %}">{% trans "Log in using Google" %}</a>
    </div>

</div>



{% endif %}

{% endblock %}
{% block includejs %}
<script src="//localhost:1337/socket.io/socket.io.js"></script>
<script src="{{ STATIC_URL }}js/call.js"></script>

<script>
$(function(){
  $('form').submit(function(e){
      e.preventDefault();
      var form = this;
      var number = jQuery('#phone-number').val();
      console.log(number);
      window.location = form.action + number;
  });
});

</script>
{% endblock %}
