{% extends "profile.html" %}
{% load i18n %}

{% block section %}
<h1>{% blocktrans with request.user.name as user %}Physical information about {{ user }}{% endblocktrans %}</h1>
{% endblock %}

{% block profile %}

{% with request.user.profile as profile %}

<table class="table table-striped">
    <tr>
        <th>{% trans "Gender" %}</th>
        <td>{{ profile.get_gender_display }}</td>
    </tr>
    <tr>
        <th>{% trans "Hair color" %}</th>
        <td>{{ profile.hair_color }}</td>
    </tr>
    <tr>
        <th>{% trans "Eye color" %}</th>
        <td>{{ profile.eye_color }}</td>
    </tr>
    <tr>
        <th>{% trans "Weight" %}</th>
        <td>
            {% if profile.weight %}
            {{ profile.weight }} kg
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{% trans "Height" %}</th>
        <td>
            {% if profile.height %}
            {{ profile.height }} cm
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{% trans "Extra information" %}</th>
        <td>
            {% if profile.extra %}
                {{ profile.extra }}
            {% endif %}
        </td>
    </tr>
</table>

{% endwith %}

{% endblock %}
