{% extends "base.html" %}
{% load i18n %}
{% load tabs_tags %}
{% load crispy_forms_tags %}

{% block content %}

<h1>{% blocktrans with object.user.name as user %}Update profile for {{ user }}{% endblocktrans %}</h1>

<form class="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
<div class="tabbable tabs-left">

<ul class="nav nav-tabs">
{% update_tabs as tabs %}
{% for tab in tabs %}
<li class="{% if tab.is_active %}active{% endif%}">
    <a href="{{ tab.address }}">{{ tab.name }}</a>
</li>
{% endfor %}
</ul>
<div class="tab-content">

    {{ form|crispy }}
        <button class="btn btn-success" type="submit"><i class="icon-ok icon-white"></i> {% trans "Save and go on" %}</button>
        <button class="btn btn-primary" type="submit"><i class="icon-ok icon-white"></i> {% trans "Save and return to profile" %}</button>
        {% comment %}
        <a href="{% url organization-profile-list %}" class="btn"><i class="icon-remove"></i> {% trans "Cancel" %}</a>
        {% endcomment %}
</div>
</div>
</form>


{% endblock %}

