{% extends "profile.html" %}
{% load i18n %}

{% block section %}
<h1>{% blocktrans with request.user.name as user %}Basic information about {{ user }}{% endblocktrans%}</h1>
{% endblock %}

{% block profile %}

{% with request.user.profile as profile %}
<table class="table table-striped">
    <tr>
        <th>{% trans "First name" %}</th>
        <td>{{ profile.user.first_name|default:"" }}</td>
    </tr>
    <tr>
        <th>{% trans "Last name" %}</th>
        <td>{{ profile.user.last_name|default:"" }}</td>
    </tr>
    <tr>
        <th>{% trans "Street address" %}</th>
        <td>{{ profile.street_address }}</td>
    </tr>
    <tr>
        <th>{% trans "Postcode" %}</th>
        <td>{{ profile.postcode }}</td>
    </tr>
    <tr>
        <th>{% trans "City" %}</th>
        <td>{{ profile.city }}</td>
    </tr>
    <tr>
        <th>{% trans "Primary language" %}</th>
        <td>{{ profile.primary_language|default:"" }}</td>
    </tr>
    <tr>
        <th>{% trans "Date of birth" %}</th>
        <td>{{ profile.birth_date|default:"" }}</td>
    </tr>
    <tr>
        <th>{% trans "Gender" %}</th>
        <td>{{ profile.get_gender_display }}</td>
    </tr>
</table>

{% endwith %}
{% endblock %}
