{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h1>{{ request.user.name }} {% trans "physical information" %}</h1>

{% with request.user.profile as profile %}

<ul class="nav nav-tabs">
    <li class="active">
    <a href="#">{% trans "Contact" %}</a>
    </li>
    <li><a href="#">{% trans "Physical" %}</a></li>
    <li><a href="#">{% trans "Emergency" %}</a></li>
</ul>

<table class="table table-striped">
    <tr>
        <th>{% trans "Reduced mobility" %}</th>
        <td>{{ profile.mobility }}</td>
    </tr>
    <tr>
        <th>{% trans "Has amputations" %}</th>
        <td>{{ profile.amputation }}</td>
    </tr>
    <tr>
        <th>{% trans "Bedridden" %}</th>
        <td>{{ profile.stationary }}</td>
    </tr>
    <tr>
        <th>{% trans "Using wheelchair" %}</th>
        <td>{{ profile.wheelchair }}</td>
    </tr>
    <tr>
        <th>{% trans "Need walker" %}</th>
        <td>{{ profile.walker }}</td>
    </tr>
    <tr>
        <th>{% trans "Cognitive impairment" %}</th>
        <td>{{ profile.cognitive }}</td>
    </tr>
    <tr>
        <th>{% trans "Blind" %}</th>
        <td>{{ profile.blind }}</td>
    </tr>
    <tr>
        <th>{% trans "Deaf" %}</th>
        <td>{{ profile.deaf }}</td>
    </tr>
    <tr>
        <th>{% trans "Hearing impairment" %}</th>
        <td>{{ profile.hearing }}</td>
    </tr>
    <tr>
        <th>{% trans "Mute" %}</th>
        <td>{{ profile.mute }}</td>
    </tr>
    <tr>
        <th>{% trans "On life support" %}</th>
        <td>{{ profile.life_support }}</td>
    </tr>
    <tr>
        <th>{% trans "Need oxygen" %}</th>
        <td>{{ profile.oxygen }}</td>
    </tr>
</table>

{% endwith %}
{% endblock %}
